<br>
<h3>인덱스입니다.</h3>
<br>
<div class="alert alert-danger" role="alert">
  이 서비스는 GPS를 활용합니다. 다음 페이지에서 반드시 GPS사용을 허용해주세요. 
</div>
<br>
<a href="/maps/where_am_i" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">나는 지금 어디에 있을까요?</a>